<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
 <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
 <uses-permission android:name="android.permission.INTERNET" />
 <uses-permission android:name="android.permission.READ_PHONE_STATE" />
 <queries>
  <package android:name="com.whatsapp"/>
  <package android:name="com.google.android.gms"/>
  <package android:name="com.android.vending"/>
  <package android:name="com.whatsapp.w4b"/>
 </queries>
 <application android:theme="@style/Theme.WhatsAppYemenAssistant" android:label="مساعد واتساب اليمن" android:allowBackup="false">
  <activity android:name=".MainActivity" android:screenOrientation="portrait" android:exported="true">
   <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
  </activity>
 </application>
</manifest>
